# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №4

### JSON

In [ ]:
import json

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [ ]:
with open('contributors_sample.json', 'r', encoding='utf-8') as f:
    contrb = json.load(f)

In [ ]:
contrb[:3]

[{'username': 'uhebert',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'mail': 'jsalazar@gmail.com',
  'jobs': ['Energy engineer',
   'Engineer, site',
   'Environmental health practitioner',
   'Biomedical scientist',
   'Jewellery designer'],
  'id': 35193},
 {'username': 'vickitaylor',
  'name': 'Cheryl Lewis',
  'sex': 'F',
  'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
  'mail': 'bhudson@gmail.com',
  'jobs': ['Music therapist',
   'Volunteer coordinator',
   'Designer, interior/spatial'],
  'id': 91970},
 {'username': 'sheilaadams',
  'name': 'Julia Allen',
  'sex': 'F',
  'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'mail': 'darren44@yahoo.com',
  'jobs': ['Management consultant',
   'Engineer, structural',
   'Lecturer, higher education',
   'Theatre manager',
   'Designer, textile'],
  'id': 1848091}]

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [ ]:
set([user['mail'] for user in contrb][:10])
# [:10] указано для среза, чтоб не выводить всю информацию

{'bhudson@gmail.com',
 'danielsjessica@gmail.com',
 'darren44@yahoo.com',
 'denise42@gmail.com',
 'dustin32@hotmail.com',
 'josephpowell@gmail.com',
 'jsalazar@gmail.com',
 'monique02@hotmail.com',
 'oclark@hotmail.com',
 'stevensonsarah@hotmail.com'}

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [ ]:
def find_username(username):
    for user in contrb:
        if user['username'] == username:
            return user
    raise ValueError(f'Пользователь с username "{username}" не найден!')

In [ ]:
try:
    user_info = find_username('uhebert')
    print(user_info)
except ValueError as e:
    print(e)

{'username': 'uhebert', 'name': 'Lindsey Nguyen', 'sex': 'F', 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791', 'mail': 'jsalazar@gmail.com', 'jobs': ['Energy engineer', 'Engineer, site', 'Environmental health practitioner', 'Biomedical scientist', 'Jewellery designer'], 'id': 35193}

In [ ]:
try:
    user_info = find_username('aaaaa')
    print(user_info)
except ValueError as e:
    print(e)

Пользователь с username "aaaaa" не найден!

In [ ]:
# альтернативный вариант
def find_username1(username):
    for i in range(len(contrb)):
        if contrb[i]['username'] == username:
            return contrb[i]
    raise ValueError(f'Пользователь с username "{username}" не найден!')

In [ ]:
try:
    user_info = find_username1('uhebert')
    print(user_info)
except ValueError as e:
    print(e)

{'username': 'uhebert', 'name': 'Lindsey Nguyen', 'sex': 'F', 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791', 'mail': 'jsalazar@gmail.com', 'jobs': ['Energy engineer', 'Engineer, site', 'Environmental health practitioner', 'Biomedical scientist', 'Jewellery designer'], 'id': 35193}

In [ ]:
try:
    user_info = find_username1('aaaaa')
    print(user_info)
except ValueError as e:
    print(e)

Пользователь с username "aaaaa" не найден!

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [ ]:
male_count = sum(1 for user in contrb if user['sex'] == 'M')
feme_count = sum(1 for user in contrb if user['sex'] == 'F')
print(f"Количество мужчин: {male_count}")
print(f"Количество женщин: {feme_count}")

Количество мужчин: 2064
Количество женщин: 2136

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [ ]:
import pandas as pd
contributors = pd.DataFrame(data=contrb, columns=['id','username','sex'])
contributors

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [ ]:
recipes_sample = pd.read_csv('recipes_sample.csv', delimiter=',')

In [ ]:
recipes_id = recipes_sample.merge(contributors, on='id', how='outer', indicator=True)
recipes = recipes_id[recipes_id['_merge'] == 'right_only'].drop(columns='_merge')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,username,sex
30000,NaN,35193,NaN,NaN,NaN,NaN,NaN,NaN,uhebert,F
30001,NaN,91970,NaN,NaN,NaN,NaN,NaN,NaN,vickitaylor,F
30002,NaN,1848091,NaN,NaN,NaN,NaN,NaN,NaN,sheilaadams,F
30003,NaN,676820,NaN,NaN,NaN,NaN,NaN,NaN,jean67,M
30004,NaN,64918,NaN,NaN,NaN,NaN,NaN,NaN,james67,F
...,...,...,...,...,...,...,...,...,...,...
34025,NaN,423555,NaN,NaN,NaN,NaN,NaN,NaN,stevenspencer,F
34026,NaN,35251,NaN,NaN,NaN,NaN,NaN,NaN,rwilliams,M
34027,NaN,135887,NaN,NaN,NaN,NaN,NaN,NaN,lmartinez,F
34028,NaN,212714,NaN,NaN,NaN,NaN,NaN,NaN,brendahill,M
34029,NaN,344321,NaN,NaN,NaN,NaN,NaN,NaN,mistyray,F

In [ ]:
# merge():
# on - по какому столбцу объединяем
# how - определяет тип объединения ('inner', 'outer', 'left', 'right')
#    outer - возвращает все строки из обоих датафреймов, заполняя пропущенные значения NaN,
#            если соответствующие значения не найдены в другом датафрейме
# indicator - если установлено в True, добавляет столбец _merge, который показывает,
#             в каких датафреймах содержится каждая строка после объединения.

In [ ]:
recipes1 = pd.merge(recipes_sample, contributors, on='id')
recipes1.dropna(subset=['name'])
recipes1[:5]

# subset: Список столбцов или индексов, на основе которых нужно проверять наличие пропущенных значений.

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,username,sex
0,6 ingredient chicken stew,163148,310,221694,2006-04-06,4.0,i made this up tonight and the sauce was reall...,6.0,greenedominique,F
1,acaramelados almond stuffed prunes,223979,30,125356,2007-04-22,NaN,this recipe came from my great-aunt tina. it i...,NaN,rebeccaryan,F
2,apple stacks,190858,8,293410,2006-10-16,10.0,a light breakfast or nutritious snack! i like ...,5.0,lhernandez,M
3,apricot and brandy jam,41143,760,34146,2002-09-24,10.0,"this is a very yummy apricot jam, and it makes...",6.0,jose78,M
4,apricot lentil soup,279912,60,565592,2008-01-18,10.0,this armenian soup has been my stand-by cold w...,12.0,jennifer33,F

### pickle

In [ ]:
import pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида:
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [ ]:
from collections import defaultdict

contrb_job = defaultdict(list)
for i in contrb:
    for j in i['jobs']:
        contrb_job[j].append(i['username'])

# вывод среза полученного словаря для удобства просмотра
dict(list(dict(contrb_job).items())[:3])

{'Energy engineer': ['uhebert',
  'annmoore',
  'garysilva',
  'martinezashley',
  'sextonsheila',
  'pjames',
  'smithjonathan',
  'wardjames',
  'cwheeler',
  'ucarlson',
  'robert71',
  'johnsontheresa',
  'amanda41',
  'stacey47',
  'timothynelson',
  'timothynelson',
  'rogersmichael',
  'melissa94',
  'wmcdaniel',
  'charles74',
  'smithjennifer',
  'clintonjones'],
 'Engineer, site': ['uhebert',
  'nancy12',
  'andrea03',
  'catherineross',
  'wesley32',
  'natalieross',
  'rossdoris',
  'christophersmith',
  'dbooker',
  'ericarobertson',
  'trantricia',
  'tpugh',
  'jasonvelez',
  'samantha36',
  'brandidaniels',
  'tenglish',
  'reyesbrett',
  'austin18',
  'vjohnson',
  'zmejia',
  'daniel04',
  'cynthia20',
  'morgan15',
  'avaldez',
  'jessica92',
  'laurieholloway',
  'baileyvictoria'],
 'Environmental health practitioner': ['uhebert',
  'jonathanchristian',
  'xjohnson',
  'dsmith',
  'james01',
  'nancytaylor',
  'ztaylor',
  'andrewwoods',
  'susan54',
  'fmaldonado',
  'james74',
  'bakerjacob',
  'stephanie81',
  'whitejoseph',
  'qolson',
  'hknox',
  'gonzalesdaniel',
  'tranronald',
  'jessegreen',
  'stephanie69',
  'ellisdennis',
  'melaniejohnson',
  'bradleyalexander',
  'chadandrews',
  'thomas33',
  'john93',
  'tanderson',
  'dward',
  'kathleenbarnett']}

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [ ]:
with open('job_people.pickle', 'wb') as f:
    pickle.dump(contrb_job, f)

with open('job_people.json', 'w') as f:
    json.dump(contrb_job, f, indent=2)

# indent=2 указывает, что данные будут записаны в файл в формате JSON с
# отступами размером в 2 пробела для улучшения читаемости файла

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [ ]:
with open('job_people.pickle', 'rb') as f:
    job_people = pickle.load(f)

# вывод среза полученного словаря для удобства просмотра
dict(list(dict(contrb_job).items())[:3])

{'Energy engineer': ['uhebert',
  'annmoore',
  'garysilva',
  'martinezashley',
  'sextonsheila',
  'pjames',
  'smithjonathan',
  'wardjames',
  'cwheeler',
  'ucarlson',
  'robert71',
  'johnsontheresa',
  'amanda41',
  'stacey47',
  'timothynelson',
  'timothynelson',
  'rogersmichael',
  'melissa94',
  'wmcdaniel',
  'charles74',
  'smithjennifer',
  'clintonjones'],
 'Engineer, site': ['uhebert',
  'nancy12',
  'andrea03',
  'catherineross',
  'wesley32',
  'natalieross',
  'rossdoris',
  'christophersmith',
  'dbooker',
  'ericarobertson',
  'trantricia',
  'tpugh',
  'jasonvelez',
  'samantha36',
  'brandidaniels',
  'tenglish',
  'reyesbrett',
  'austin18',
  'vjohnson',
  'zmejia',
  'daniel04',
  'cynthia20',
  'morgan15',
  'avaldez',
  'jessica92',
  'laurieholloway',
  'baileyvictoria'],
 'Environmental health practitioner': ['uhebert',
  'jonathanchristian',
  'xjohnson',
  'dsmith',
  'james01',
  'nancytaylor',
  'ztaylor',
  'andrewwoods',
  'susan54',
  'fmaldonado',
  'james74',
  'bakerjacob',
  'stephanie81',
  'whitejoseph',
  'qolson',
  'hknox',
  'gonzalesdaniel',
  'tranronald',
  'jessegreen',
  'stephanie69',
  'ellisdennis',
  'melaniejohnson',
  'bradleyalexander',
  'chadandrews',
  'thomas33',
  'john93',
  'tanderson',
  'dward',
  'kathleenbarnett']}

### XML

In [ ]:
import requests
from bs4 import BeautifulSoup

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [ ]:
with open('steps_sample.xml') as f:
    steps_sample = BeautifulSoup(f, 'xml')

In [ ]:
from collections import defaultdict

id_recipes = defaultdict(list)
for recipe in steps_sample.find_all('recipe'):
    for steps_list in [step.text for step in recipe.find_all('step')]:
        id_recipes[recipe.find('id').text].append(steps_list)

dict(list(dict(id_recipes).items())[:3])

{'44123': ['in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes',
  'add thyme , oregano and basil',
  'saute 5 minutes more',
  'add wine and deglaze pan',
  'add hot chicken stock and reduce by one-third',
  'add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets',
  'simmer 5 minutes',
  'add cream , simmer 5 minutes more and season to taste',
  'drop in remaining butter , piece by piece , stirring until melted and serve immediately',
  'smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare',
  'chef meskan uses applewood chips and does not allow the grill to become too hot'],
 '67664': ['mix all the ingredients using a blender',
  'pour into popsicle molds',
  'freeze and enjoy !'],
 '38798': ['combine all ingredients in a large bowl and mix well',
  'shape into one-inch balls',
  'cover and refrigerate or freeze until ready to bake',
  'preheat oven to 350 degrees',
  'place on ungreased baking sheet and bake until light brown']}

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [ ]:
# Примеры:


# Находим первый рецепт
#first_recipe = steps_sample.find('recipe')
# его шаги
#steps = first_recipe.find_all('step')
#print(len(steps)), print(first_recipe.find('id'))

# Выводим шаги первого рецепта
#for step in first_recipe.find_all('step'):
#    print(step.text)

# Если нужно получить доступ к определенному шагу по индексу:
# specific_step = first_recipe.find_all('step')[индекс]

# Находим все рецепты
#recipes = steps_sample.find_all('recipe')

# Перебираем каждый рецепт и выводим количество шагов
#for recipe in recipes:
#    steps = recipe.find_all('step')
#    print(f"Рецепт: {recipe.find('id').text}")
#    print(f"Количество шагов: {len(steps)}")

In [ ]:
# Находим все рецепты
recipes = steps_sample.find_all('recipe')
count = defaultdict(list)
for recipe in recipes:
    count[len(recipe.find_all('step'))].append(recipe.find('id').text)

# вывод среза полученного словаря для удобства просмотра
dict(list(dict(count).items())[:-5:-1])
# начинаем с конца, потому что первый сильно большой

{56: ['509506'], 65: ['510490'], 52: ['185860'], 49: ['254347', '498384']}

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [ ]:
recipes = steps_sample.find_all('recipe')
recipe_list = []
for recipe in recipes:
    for step in recipe.find_all('step'):
        if step.has_attr('has_minutes'):
            recipe_list.append(recipe)
recipe_list[:3]

[<recipe>
 <id>44123</id>
 <steps>
 <step has_minutes="1">in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes</step>
 <step>add thyme , oregano and basil</step>
 <step has_minutes="1">saute 5 minutes more</step>
 <step>add wine and deglaze pan</step>
 <step>add hot chicken stock and reduce by one-third</step>
 <step>add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets</step>
 <step has_minutes="1">simmer 5 minutes</step>
 <step has_minutes="1">add cream , simmer 5 minutes more and season to taste</step>
 <step>drop in remaining butter , piece by piece , stirring until melted and serve immediately</step>
 <step>smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare</step>
 <step>chef meskan uses applewood chips and does not allow the grill to become too hot</step>
 </steps>
 </recipe>,
 <recipe>
 <id>44123</id>
 <steps>
 <step has_minutes="1">in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes</step>
 <step>add thyme , oregano and basil</step>
 <step has_minutes="1">saute 5 minutes more</step>
 <step>add wine and deglaze pan</step>
 <step>add hot chicken stock and reduce by one-third</step>
 <step>add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets</step>
 <step has_minutes="1">simmer 5 minutes</step>
 <step has_minutes="1">add cream , simmer 5 minutes more and season to taste</step>
 <step>drop in remaining butter , piece by piece , stirring until melted and serve immediately</step>
 <step>smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare</step>
 <step>chef meskan uses applewood chips and does not allow the grill to become too hot</step>
 </steps>
 </recipe>,
 <recipe>
 <id>44123</id>
 <steps>
 <step has_minutes="1">in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes</step>
 <step>add thyme , oregano and basil</step>
 <step has_minutes="1">saute 5 minutes more</step>
 <step>add wine and deglaze pan</step>
 <step>add hot chicken stock and reduce by one-third</step>
 <step>add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets</step>
 <step has_minutes="1">simmer 5 minutes</step>
 <step has_minutes="1">add cream , simmer 5 minutes more and season to taste</step>
 <step>drop in remaining butter , piece by piece , stirring until melted and serve immediately</step>
 <step>smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare</step>
 <step>chef meskan uses applewood chips and does not allow the grill to become too hot</step>
 </steps>
 </recipe>]

3.4 Загрузите данные из файла recipes_sample.csv (ЛР2) в таблицу recipes. Для строк, которые содержат пропуски в столбце n_steps, заполните этот столбец на основе файла steps_sample.xml. Строки, в которых столбец n_steps заполнен, оставьте без изменений.

In [ ]:
# не запускается
recipes_ = pd.read_csv('recipes_sample.csv', header=0)

#with open('steps_sample.xml') as f:
#    steps_sample = BeautifulSoup(f, 'xml')

# Проход по каждой строке в DataFrame
for index, row in recipes_.iterrows():
    # Проверка, что строка с n_steps, равным NaN
    if pd.isnull(row['n_steps']):
        recipe_id = row['id']

        # Поиск соответствующего <recipe> в XML
        recipe_nan = steps_sample.find(attrs={'id': recipe_id})

        if recipe_nan is not None:
            n_steps = len(recipe_nan.find_all('step'))
            recipes_.at[index, 'n_steps'] = n_steps

recipes_

In [ ]:
# альтернативный (не совсем верный) вариант
from collections import defaultdict

recipes_steps_count = defaultdict(list)
for recipe in steps_sample.find_all('recipe'):
    recipes_steps_count[recipe.find('id').text].append(len([step.text for step in recipe.find_all('step')]))

import pandas as pd
recipes = steps_sample.find_all('recipe')
recipes_sample = pd.read_csv('recipes_sample.csv', delimiter=',')
for i in range(recipes_sample.shape[0]):
    if pd.isnull(recipes_sample.iloc[i]['n_steps']):
        recipe_id = recipes_sample.iloc[i]['id']
        if recipe_id in recipes_steps_count:
            recipes_sample.at[i, 'n_steps'] = recipes_steps_count[recipe_id]

# функция at позволяет получить или изменить значение ячейки в таблице данных
# по указанным меткам индекса и названию столбца

In [ ]:
# ещё один (рабочий) вариант
import pandas as pd
import xml.etree.ElementTree as ET

recipes_ = pd.read_csv('recipes_sample.csv', header=0)

tree = ET.parse('steps_sample.xml')
root = tree.getroot()

# Проход по каждой строке в DataFrame
for index, row in recipes_.iterrows():
    if pd.isnull(row['n_steps']):
        recipe_id = row['id']

        # Поиск соответствующего <recipe> в XML
        recipe_xml = root.find(f"recipe[id='{recipe_id}']")

        if recipe_xml is not None:
            n_steps = len(recipe_xml.findall('steps/step'))
            recipes_.at[index, 'n_steps'] = n_steps

recipes_

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [ ]:
hasNans = False
for index, row in recipes.iterrows():
    if pd.isnull(row['n_steps']):
        hasNans = True
        break

if not hasNans:
    df = pd.DataFrame(recipes)
    df.to_csv('recipes_sample_with_filled_nsteps.csv', index=False)
    print('Успешно, сохранено в recipes_sample_with_filled_nsteps.csv')
else:
    print('Имеются пропуски в столбце n_steps')

Имеются пропуски в столбце n_steps